.hovered {
  background-color: skyblue !important;
  color: black !important;
}

.active {
  background-color: darkgray !important;
  color: white !important;
}

.navbar {
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  height: 60px;
  background-color: midnightblue !important;
}

.logo {
  width: 40px;
}

.navLinks {
  display: flex;
}

.nav-link {
  height: 60px;
  padding-top: 18px;
}

.navTitle {
  color: lightgray !important;
  margin-top: 7px;
}

#rocketMenu {
  background-color: deepskyblue;
  color: white;
  position: relative;
  left: 1218px;
  width: 112px;
}