.sellerCalendar {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.react-calendar__tile {
  min-height: 100px;
  display: flex;
  flex-flow: column;
  border: 1px solid white !important;
  background-color: midnightblue;
  color: white;
}

.react-calendar {
  width: 800px;
}

.calendarArrivalTitle {
  margin-top: 5px;
  color: blue;
  background-color: lightblue;
  padding-top: 4px;
  margin: 0;
  width: 90px;
  font-size: 0.8em;
}

.calendarDepartureTitle {
  margin-top: 5px;
  color: blue;
  background-color: orange;
  padding-top: 4px;
  margin: 0;
  width: 90px;
  font-size: 0.8em;
}

.calendarFlightD {
  background-color: orange;
  padding-top: 4px;
  margin: 0;
  width: 90px;
  font-size: 0.8em;
}

.calendarFlightA {
  background-color: lightblue;
  padding-top: 4px;
  margin: 0;
  width: 90px;
  font-size: 0.8em;
}

.calendarIcon {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: orange;
  border: 0.5px solid black;
  border-radius: 100px;
  position: relative;
  left: 75px;
  top: -18px;
}