.toast-header *{
  color: #6c757d;
}

.toast-body *{
  color: initial;
}

.toast {
  width: 100%;
  max-width: 100%;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.toast-header {
  display: block;
}

.toast-body {
  display: block;
}