body {
  background-image: url(../../../images/space.jpg);
  background-size: cover;
}

.logo {
  width: 250px;
  margin-left: 2%;
  margin-right: 2%;
}

.logoText {
  width: 98%;
}

.logoTextDiv {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 6%;
  margin-left: 2%;
  margin-bottom: 0%;
}

.logoDiv {
  display: flex;
  align-items: center;
  border: 3px outset black;
  border-radius: 8px;
  background-color: white;
  margin-top: 2%;
}

.loginDiv {
  display: flex;
  height: 150px;
}

.loginP {
  margin-right: 2%;
  margin-top: 4%;
  color: white;
  font-size: 90%;
}

.login {
  margin-top: 2%;
}

.registerMain {
  margin-top: 1%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: cornflowerblue;
}

.registerFormGroup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.registerTitle {
  text-align: center;
}

.registerButton {
  margin-left: 44%;
}