.user-payment-form {
    color: white;
    overflow: scroll;
    width: 40vw;
    height:70vh;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(76, 86, 175, 0.3);
}


.paymentsCard {
    color: white;
}

.addPay {
    color: white;
    margin: 20px;
}