.minus-icon-background {
  width:38px;
  height:38px;
}

.minus-icon-foreground {
  fill:#e34900;
}

.plus-icon-background {
  width:38px;
  height:38px;
}

.plus-icon-foreground {
  fill:#00e311;
}

.add-modal-success-body{
  display: flex;
  flex-direction: row-reverse;
}

.add-modal-go-to-cart{
  margin-left: 15px;
}

.add-modal-title {
  text-align: right;
}