.purchasesTable {
  background-color: black;
  color: white;
  border: 1.5px solid white;
  width: 91.7%;
  position: relative;
  left: 42px;
  font-size: 0.8em;
}

.rocketSpaceProductHeader {
  display: flex;
  background-color: black;
  color: white;
  border: 1.5px solid white;
  width: 98%;
  font-size: 0.8em;
}

.plusMinusButton {
  border: none;
  color: white;
  background: none;
  font-size: 1.3em;
  width: 40px;
}

.rocketSpaceProduct, .rocketSpaceProductQty {
  margin-top: 4%;
  margin-left: 2%;
  width: 15%;
}

.rocketSpaceProductQty {
  width: 25%;
}

.rocketSpaceNum {
  display: flex;
  background-color: black;
  color: white;
  border: 1.5px solid white;
  width: 28%;
  border-top: none;
}

.rocketSpaceC {
  margin-left: 4%;
  margin-bottom: 0;
  min-height: 90%;
}

.plusMinusDiv {
  display: flex;
  font-size: 0.8em;
}

.placeholder {
  width: 40px;
}