.username {
  font-size: 90px;
  font-weight: bolder;
  padding: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.date-time {
  color: #c4c4c4;
}

.profile-button-container {
  margin-top: 13px;
  display: flex;
  justify-content: space-around;
}